:root { 

/* fonts */

--main-font: "Roboto", sans-serif;
--secondary-font: "Raleway";

   


/* text color */

--accent-txt-color: #2196F3;
--txt-black: #000000;
--txt-white: #FFFFFF;
--txt-deep-grey: #212121;
--txt-light-gray: #F5F4FA;
--txt-gray: #757575 ;
--txt-gray-glass: rgba(255, 255, 255, 0.6);

/* bg color */

--heder-footer: #2F303A;

/* others */

--items: 3;
--indent: 30px;


}

body
 {
    font-family: var(--main-font);
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--txt-gray);
    background-color: #FFFFFF;
}

/* resrt */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p,
img {
    margin: 0;
}


 

.img {
    display: block;
    max-width: 100%;
    margin: 0;
    height: auto;
    
}


/* comon styles start */


.section {
    padding-top: 95px;
    padding-bottom: 95px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

.section-flex {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
.logo-web {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-color)}

.btn {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
}
 

/* сетка flex */

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc((-1 * var(--indent)) / 2);
}

.card-set-item {
    flex-basis: calc((100% - (var(--indent)) * var(--items)) / var(--items));
    margin: calc((var(--indent)) / 2);
}


/* comon styles end */




/* heder */

.heder-container {
    align-items: center;
    }
    
.heder-portfolio-border-one {
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 5px;
    }

.heder-portfolio-border {
    border-bottom: 1px solid #ECECEC;   
}
   

.heder-nav {
    align-items: center;
}

.logo-heder {
    margin-right: 90px;

}

.logo-studio {
    color: var(--txt-black);}



.heder-list-item:not(:last-child) {
    margin-right: 50px;}


.heder-link {   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-deep-grey);
    padding-top: 32px;
    padding-bottom: 32px;}

.heder-padding-one {
    
    padding-top: 32px;
    padding-bottom: 32px;
}

.heder-padding-portfolio {
    padding-top: 32px;
    padding-bottom: 31px;}

.heder-group  { 
    
    margin-left: auto;
    }
.heder-group-item:not(:last-child) {
    margin-right:  50px;
}

.heder-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-gray);
    }

.heder-contact:hover,
.heder-contact:focus,
.heder-link:hover,
.heder-link:focus,
.mail-svg:hover,
.phone-svg:hover,
.mail-svg:focus,
.phone-svg:focus,
.current {color: var(--accent-txt-color);
}


.mail-svg,
.phone-svg {
     display: inline-block;
    vertical-align: middle;    
    margin-right: 10px;
    fill: var(--txt-gray);
    
}

.mail-svg,
.phone-svg
 {
    fill: currentColor;
}




/* main */




/* main-one */

.hero-background {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
     url(../images/hw-04-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

        }

.hero-list {
    text-align: center;}

.section-one-h1 { 
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 695px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--txt-white);
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
       
}


.btn-one {
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    color: var(--txt-white);
    background-color:var(--accent-txt-color);
    padding: 10px 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;

}


.btn-one:hover,
.btn-one:focus,
.btn-one:active {
    color: var(--txt-deep-grey);
    background-color: var(--txt-light-gray);
}

.section-one-h2 {
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--txt-deep-grey);
    margin-bottom: 50px;
}



.best-icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    
}

.section-one-h3-best {
    
    font-size: 14px;
    line-height: 1.14;
     text-transform: uppercase;
    color: var(--txt-deep-grey);
    margin-top: 30px;
    margin-bottom: 7px;}
    
.section-one-p-best {
    font-size: 14px;
    line-height: 1.71;
    
}
.best-list {
   
    --items: 4;
}

.banda-background {
    background-color: #F5F4FA;
    
}

.section-top {
    padding-top: 0;}

.banda-border {
    padding: 0px 0px;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;;
    border-top: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.section-one-h3-banda {
    
    font-weight: 500;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    color: var(--txt-deep-grey);
    margin-top: 30px;
    margin-bottom: 10px;
    }

.section-one-p-banda {
    
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    margin-bottom: 16px;
    } 

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}    

.social-media-item:not(:last-child) {
    margin-right: 10px;

}


.social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    color: #AFB1B8;

}

.social-media-link:hover, 
.social-media-link:focus  {
    color: var(--txt-white);
    background-color:  #2196F3;
}

.social-media-icon {
    fill: currentColor;
}


.banda-list {
    --items: 4;
}

.clients-list { 
    display: flex;
    justify-content: center;
    --items: 6;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;}

.clients-link {
    color:  #AFB1B8;

}

.clients-link:hover,
.clients-link:focus {
    color: #2196F3;
    border: 1px solid #2196F3;
    background-color: var(--txt-white);
}


        .clients-icon {
fill: currentColor;
}



/* main-portfolio */  



.btn-portfolio-container {
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        
      }

.btn-portfolio {
        padding: 6px 22px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.62;
        color: var(--txt-deep-grey);
        background-color: transparent;
        background-color: var(--txt-light-gray);
        
        }
.btn-portfolio-right:not(:last-child) {
    margin-right: 8px;
}

    

.btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio:active {
    color: var(--txt-white);
    background-color: var(--accent-txt-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


.btn-colored {color: var(--txt-white); background-color: var(--accent-txt-color);}


.portfolio-border {
    border: 1px solid #EEEEEE;
    border-top: none;
   }



.portfolio-h2-style {
    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--txt-deep-grey);
    padding-top: 20px;
    padding-left: 24px;
    
} 

.pottfolio-p-style {
    line-height: 1.88;
    color: var(--txt-gray);
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;

}

.card-border {
    display: block;
}
.card-border:hover,
.card-border:focus
 {
    box-shadow: 0px 3px 1px 
    rgba(0, 0, 0, 0.1), 0px 1px 2px 
    rgba(0, 0, 0, 0.08), 0px 2px 2px 
    rgba(0, 0, 0, 0.12);

        
} 



    
/* footer */

.footer-background {
background-color: var(--heder-footer);

}

.footer-adress-contact {
    margin-right: 70px;
}
.footer-logo {
 margin-bottom: 20px;  
}
.footer-logo-studio {
color: var(--txt-white);

}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--txt-white);
    
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}


.footer-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-gray-glass);
        
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-txt-color);}

    
.section-footer-media {
    margin-top: 12px;
  
}


.footer-h3 {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
}

.footer-media-list {
    display: flex;
   
    

}


 .footer-media-link {
    
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        color: white;

 }
 
 .footer-media-link:hover,
 .footeer-media-link:focus {
     color: var(--txt-white);
     background-color: #2196F3;
 }

 .footer-media-icon {
     fill: currentColor;
 }

 .footer-media-item:not(:last-child) {
     margin-right: 10px;
 }