:root { 

/* fonts */

--main-font: "Roboto", sans-serif;
--secondary-font: "Raleway";

   


/* text color */

--accent-txt-color: #2196F3;
--txt-black: #000000;
--txt-white: #FFFFFF;
--txt-deep-grey: #212121;
--txt-light-gray: #F5F4FA;
--txt-gray: #757575 ;
--txt-gray-glass: rgba(255, 255, 255, 0.6);

/* bg color */

--heder-footer: #2F303A;

/* others */

--items: 3;
--indent: 30px;


}

body
 {
    font-family: var(--main-font);
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--txt-gray);
    background-color: #FFFFFF;
}

/* resrt */

h1,
h2,
h3,
h4,
p,
img {
    margin: 0;
}
 

.img {
    display: block;
    max-width: 100%;
    height: auto;
    
}


/* comon styles start */


.section {
    padding-top: 95px;
    padding-bottom: 95px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

.section-flex {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
.logo-web {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-color)}

.btn {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
}
 

/* сетка flex */

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
    flex-basis: calc((100% - (var(--indent)) * var(--items)) / var(--items));
    margin: calc((var(--indent)) / 2);
}


/* comon styles end */




/* heder */

.heder-container {
    align-items: center;
    }
    
.heder-portfolio-border {
    border-bottom: 1px solid #ECECEC;
    }
        
   

.heder-nav {
    align-items: center;
}

.logo-heder {
    margin-right: 90px;

}

.logo-studio {
    color: var(--txt-black);}



.heder-list-item:not(:last-child) {
    margin-right: 50px;}


.heder-link {   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-deep-grey);
    padding-top: 32px;
    padding-bottom: 32px;}

.heder-padding-one {
    padding-top: 32px;
    padding-bottom: 32px;
}

.heder-padding-portfolio {
    padding-top: 32px;
    padding-bottom: 31px;}

.heder-group  { 
    margin-left: auto;
    }
.heder-group-item:not(:last-child) {
    margin-right:  50px;
}

.heder-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--txt-gray);
    }

.heder-contact:hover,
.heder-contact:focus,
.heder-link:hover,
.heder-link:focus,
.current
{color: var(--accent-txt-color);}






/* main */




/* main-one */

.hero-background {

    background-color: var(--heder-footer);
    text-align: center;
 }
 
.section-one-h1 { 
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 695px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--txt-white);
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
       
}


.btn-one {
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    color: var(--txt-white);
    background-color:var(--accent-txt-color);
    padding: 10px 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;

}


.btn-one:hover,
.btn-one:focus,
.btn-one:active {
    color: var(--txt-deep-grey);
    background-color: var(--txt-light-gray);
}

.section-one-h2 {
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--txt-deep-grey);
    margin-bottom: 50px;
}



.section-one-h3-best {
    
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
    color: var(--txt-deep-grey);
    margin-bottom: 7px;}
    
.section-one-p-best {
    font-size: 14px;
    line-height: 1.71;
    
}
.best-list {
   
    --items: 4;
}

.banda-background {
    background-color: #F5F4FA;;
}

.section-top {
    padding-top: 0;}

.banda-border {
    padding: 0px 0px;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;;
    border-top: none;
    border-radius: 0px 0px 4px 4px;

}

.section-one-h3-banda {
    
    font-weight: 500;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    color: var(--txt-deep-grey);
    margin-top: 30px;
    margin-bottom: 10px;
    }

.section-one-p-banda {
    
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    margin-bottom: 30px;
    } 

.banda-list {
    --items: 4;
}




/* main-portfolio */  



.list-portfolio-container {
        align-items: center;
        justify-content: center;
        
      }

.btn-portfolio {
        padding: 6px 22px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.62;
        color: var(--txt-deep-grey);
        background-color: transparent;
        background-color: var(--txt-light-gray);
        margin-left: 10px;
    }


.btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio:active {
    color: var(--txt-white);
    background-color: var(--accent-txt-color);
}


.btn-colored {color: var(--txt-white); background-color: var(--accent-txt-color);}





.card-top {
    margin-top: 34px;
}
 


.portfolio-border {
    
    padding: 20px 25px;
    border: 1px solid #EEEEEE;
    border-top: none;
       
    }


.portfolio-h2-style {
    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--txt-deep-grey);
    
} 

.pottfolio-p-style {
    line-height: 1.88;
    color: var(--txt-gray);
}




    
/* footer */

.footer {
background-color: var(--heder-footer);

}

.footer-container {
    flex-direction: column;
    
}

.logo-footer {
    margin-top: 60px;
    }

.footer-logo-studio {
color: var(--txt-white);
}

.footer-address-it {
    font-style: normal;
    } 

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-white);
    margin-top: 20px;
    
}


.footer-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--txt-gray-glass);
    margin-top: 10px;
    not(last-child): 10px;
    
}

.footer-end { 
    margin-bottom: 60px;

}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-txt-color);}